@model IEnumerable<Product>
@{
    ViewBag.Title = "Admin panel";
}

<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
        <a asp-action="CreateProduct" class="btn btn-outline-secondary me-2" type="button">Add product</a>
        <a asp-action="LoadFromCsv" class="btn btn-sm btn-outline-secondary me-1" type="button">Load from csv</a>
        <a asp-action="Orders" class="btn btn-outline-success me-1" type="button">Orders</a>
        <a asp-action="Shipments" class="btn btn-outline-success me-1" type="button">Shipments</a> 
    </form>
</nav> 
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-right">ID</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-center">Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.ProductID</td>
            <td>@item.Name</td>
            <td class="text-right">@item.Price.ToString("c")</td>
            <td class="text-center">
                <form asp-action="DeleteProduct" method="post">
                    <a asp-action="EditProduct" class="btn btn-sm btn-warning"
                       asp-route-productId="@item.ProductID">Edit</a>
                    <input type="hidden" name="ProductID" value="@item.ProductID" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>