@model IEnumerable<Shipment>

@{
    ViewBag.Title = "Shipments";
}
<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
        <a asp-action="Index" class="btn btn-outline-success me-1" type="button">Products</a>
        <a asp-action="Orders" class="btn btn-outline-success me-1" type="button">Orders</a>
        <a asp-action="CreateShipment" class="btn btn-outline-secondary me-1" type="button">Add Shipment</a>
    </form>
</nav>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<table class="table table-sm table-bordered">
    <tr><th>ID</th><th>Description</th><th>Price</th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No shipment methods.</td></tr>
    }
    else
    {
        foreach (Shipment ship in Model)
        {
            <tr>
                <td>@ship.ShipmentId</td>
                <td>@ship.Description</td>
                <td>@ship.Price.ToString("c")</td>
                <td>
                    <form asp-action="DeleteShipment" asp-route-id="@ship.ShipmentId" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditShipment" asp-route-shipmentId="@ship.ShipmentId">Edit</a>
                        <input type="hidden" name="shipmentId" value="@ship.ShipmentId" />
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

